body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: white;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

header h2 {
  color: #ffffff;
}

p   {
  color: white;
}

Label {
  color: white;
}

#tagLine    {
  color: white;
}

.carouselCaption {
  font-size: 1.8vh;
}

.row-content {
  padding: 30px;
  border-bottom: 1px ridge; border-color: #e392fa8f;
  min-height: 50px;
}

.row-content2 {
  padding: 30px;
  min-height: 50px;
}

.navbar {
  background-color: #e392fa8f
}

.bgOverLay  {
      position: relative; 
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(./img/backgroundhome.jpg);
      background-size: cover;
  }
      
.bgOverLay::before {  
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.25);
  }

.jumbotron {
  background: none;
}

.jumbotron-fluid    {
  background-color: #f2c4ff8f;
}

.card-body-background   {
  background-color:  #e392fac9;
}

.card-body-background2  {
  background-color: #91919196;
}

.card-img-top   {
  width: 100%;
  height: 15vw;
}

.bgImg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-image: url(./img/background2.jpg);
}

.overlay {
  background: rgba(0,0,0,1);
  width: auto;
}

.overlay img {
  opacity: 0.8;
  width: fit-cont
}

.player {
width: 100%;
height: 166px;
}